= form_for @interest do |f|
  -if @interest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@interest.errors.count, "error")} prohibited this interest from being saved:"
      %ul
        - @interest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ip
    = f.text_field :ip
  .actions
    = f.submit 'Save'
