%h1 Listing interests

%table
  %tr
    %th Ip
    %th
    %th
    %th

  - @interests.each do |interest|
    %tr
      %td= interest.ip
      %td= link_to 'Show', interest
      %td= link_to 'Edit', edit_interest_path(interest)
      %td= link_to 'Destroy', interest, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Interest', new_interest_path
